<table class="table table-bordered table-striped">
    <tr>
        <td>
            <div [hidden]="isSubmitted">
                <form (ngSubmit)="save()" >
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>
                                Customer Id:
                            </td>
                            <td>
                                <input type="text" 
                                class="form-control" 
                                [(ngModel)]="customer.CustId" 
                                name="CustId"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer Name:
                            </td>
                            <td>
                                <input type="text" 
                                class="form-control"
                                [(ngModel)]="customer.CustName" 
                                name="CustName"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer Address:
                            </td>
                            <td>
                                <input type="text" 
                                class="form-control" 
                                [(ngModel)]="customer.Address" 
                                name="Address"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer City:
                            </td>
                            <td>
                                <select class="form-control" 
                                [(ngModel)]='customer.City'
                                 name="City">
                          <option *ngFor='let c of cities'>{{c}}</option>   
                        </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="New" class="btn btn-default" (click)="clear()" />
                            </td>
                            <td>
                                <input type="submit" value="Save" 
                                class="btn btn-success" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <div [hidden]="!isSubmitted">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Customer Id</td>
                        <td>Customer Name</td>
                        <td>Customer Address</td>
                        <td>Customer City</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let cust of customers' (click)="selctcustomer(cust)">
                        <td>{{cust.CustId}}</td>
                        <td>{{cust.CustName}}</td>
                        <td>{{cust.Address}}</td>
                        <td>{{cust.City}}</td>
                    </tr>
                </tbody>
                <tfoot>
                   <tr>
                       <td>
                           <input type="button" value="Ok" 
                           class="btn btn-success"
                            (click)="loadform()">
                       </td>
                   </tr>
                </tfoot>
            </table>
        </div>
    </tr>
</table>